/* Textos */

.container__div-texto {
    margin: auto;
    width: 80%;
}

.div-texto__p {
    color: var(--verde);
    font-family: var(--fonte-mono);
    font-size: 1.2rem;
}

.div-texto__titulo {
    color: var(--texto-claro);
    font-size: 2.2rem;
}

.div-texto__span {
    color: var(--texto-branco);
}

.div-texto__descricao {
    color: var(--texto-claro);
    line-height: 1.4rem;
}

/* Botões */

.div-texto__ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3.5rem;
}

.div-texto__li-a {
    text-decoration: none;
}

.div-texto__li-a:hover,
.div-texto__li-a:active {
    color: var(--verde);
    text-decoration: none;
}

.div-texto__li-btn {
    background-color: transparent;
    border: 1px solid var(--verde);
    border-radius: 3px;
    color: var(--verde);
    font-family: var(--fonte-mono);
    padding: 0.5rem;
    width: 9rem;
}

.div-texto__li-btn:hover,
.div-texto__li-btn:active {
    background-color: var(--verde-hover);
}




/* Responsividade */
@media screen and (min-width: 768px) {

    .container__div-texto {
        margin: 3.5rem 11rem;
        width: 50%;
    }

    .div-texto__titulo {
        font-size: 3.5rem;
    }

    .div-texto__descricao {
        font-size: 1.1rem;
    }

    /* Botões */

    .div-texto__ul {
        flex-direction: row;
        gap: 2rem;
        margin-top: 1.5rem;
    }

    .div-texto__li-btn {
        font-size: 1.1rem;
        height: 3rem;
        width: 9rem;
    }

    .div-texto__li-btn:hover {
        transform: scale(1.1);
        transition: 500ms;
    }

}

@media screen and (min-width: 1550px) {
    .container__div-texto {
        margin: 9rem 20rem;
        width: 60%;
    }

    .div-texto__titulo {
        font-size: 4.5rem;
    }

    .div-texto__descricao {
        font-size: 1.2rem;
    }

    .div-texto__ul {
        gap: 5.6rem;
        margin-top: 3rem;
    }

    .div-texto__li-btn {
        font-size: 1.2rem;
        height: 3rem;
        width: 11rem;
    }
}