* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ol, ul,li {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: var(--cor-de-link);
  }
  
  a:hover {
    text-decoration: underline;
    color: #d4d3d3;
  }